
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
    
  }
  .full-website {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // margin: auto;
  }
  // body ::-webkit-scrollbar {
  //  scroll-snap-stop: normal;
  // }
  body {
   width: 100%;
   height: auto;
  background-color: #f5f4f4;
  }

  // div::-webkit-scrollbar {
  //   display: none;
    
  // }

#section-part {
  width: 100%;
  height: 100%;
  margin: auto;
  // z-index: 999999;
  header {
    background: #FFFCF7;
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
    // border-bottom: 2px solid #0951a3;
    box-shadow: 4px 4px 4px #fabf1d;
   
  //  background: #d63131;



    .brandlogo {
      display: flex;
      align-items: center;
      gap: 0.5rem;

    a {
      font-size: 20px;
      color: black;
      font-weight: 400;
    }
    }

    #navbar {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      li {
         
        a {
          font-size: 18px;
          color: black;

          span {
            .search {
              font-size: 20px;
              margin-left: 10px;
            }
          }
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 2rem;
      
      .log {
         
        span {
          i {
            color: black;
            font-size: 22px;
          }
        }
        a {
          color: black;
          font-size: 18px;
        }
      }
      .btn {
       background: rgb(255, 240, 223);
       padding: 7px;
       border-radius: 5px;
       color: rgb(253, 183, 92);
       font-weight: 500;
      }
    }
  }

}

  // // // // home secation branner design prat // // // //


.section-branner {
  background: #FFFCF7;
 

  #section-container {
    background: #FFFCF7;
    width: 75%;
    height: 100%;
    margin: auto;

    .sub-container {
      display: flex;
      padding-top: 150px ;
      align-items: center;
      

      .section-items {
        margin-top: 30px;
        h1 {
          font-size: 44px;
          line-height: 52px;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 20px;
          line-height: 28px;
        }
        .input {
          display: flex;
          gap: 1rem;
         
          input {
            border: none;
            background: #ffffff;
            padding: 15px;
            border-radius: 5px;
           box-shadow: 5px 0px 10px 4px #e9e8e7;
          //  margin: 20px 0;
           text-transform: capitalize;

           ::placeholder {
            border: none;
            
           }
          }
          button {
            font-size: 14px;
            border: none;
            background: #fcc15c;
            padding: 10px;
            color: #ffffff;
            font-weight: 400;
            border-radius: 5px;
            // margin: 0px 0;
          }
        }
      }

      .section-img {
        margin-top: 30px;
        img {
          width: 530px;
          height: 370px;
          top: 239px;
          left: 956px;
          
        }
      }
    }

    .section-header {
     padding: 20px 0;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #a8a5a1;
      h5 {
        font-weight: 400;
      }
      .pay {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        span {
          i {
            font-size: 22px;
          }
        }
      
        h3 {
          font-size: 18px;
          font-weight: 600;
        }
      }
      h2 {
        font-weight: 600;
        font-size: 18px;
      }
      .drop {
        display: flex;
        gap: 0.2rem;
        align-items: center;
        span {
          i {
            font-size: 22px;
          }
        }
       h4 {
        font-size: 18px;
        font-weight: 600;
       }
      }
    }
  }
  
}

  // <!-- ===========home section fruter part design========== -->


  #header-part {
    background: #ffffff;
    width: 62%;
    height: 100%;
    margin: auto;
    display: flex;
    margin-top:100px ;
    padding: 20px 0;
    gap: 3rem;

  

 .fast-chid {
  background: #ffffff;
  padding: 20px ;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px  #dbd9d5;
  .sub-header {
    display: flex;
    gap: 1rem;
    background: #ffffff;
 
    img {
      width: 90px;
      height: 60px;
      margin-bottom: 20px;
    }
    .header-items {
      
      h3 {
        font-size: 18px;

        span {
          i {
             color: #a8a5a1;
             margin-left: 20px;
          }
        }
      }
      p {
        font-size: 13px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 10px;
      }
    }
  }

 }


 .last-child {
background: #e9e6e1;
padding: 20px ;
border-radius: 10px;
box-shadow: 4px 4px 4px #dbd9d5;
  .sub-header {
    display: flex;
    gap: 1rem;
 
    img {
      width: 90px;
      height: 60px;
      margin-bottom: 20px;
    }
    .header-items {
      
      h3 {
        font-size: 18px;

        span {
          i {
             color: #a8a5a1;
             margin-left: 20px;
          }
        }
      }
      p {
        font-size: 13px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 10px;
      }
    }
  }

 }

  }


  // <!--================== home message part design================= -->




  #message {
      width: 90%;
      height: auto;
    .message-part {
      background: #ffffff;
      width: 80%;
      height: 100%;
      margin: auto;
      display: flex;
      margin-top:100px ;
      // padding: 20px 0;
      gap: 2rem;

      .messenger {
        img {
          width: 574px;
            height: 506px;
            flex-shrink: 0;
            margin-top: 30px;
        }
      }
      .massage-contant {
       
        h1 {
          // display: flex;
          font-size: 28px;
          // margin-bottom: 20px ;
          line-height: 50px;
         
          img {
            // position: absolute;
            height: 25px;
            width: 35px;
            margin-top: 12px;
          }
        }
        p {
          font-size: 14px;
          padding: 20px 0;
          line-height: 25px;
          font-weight: 300;
        }
        .details {
          box-shadow: 0px 2px 5px 2px #cecac6;
          padding: 14px ;
          

          h4 {
            font-size: 18px;
            font-weight: 600;
          
          }
          h5 {
            font-size: 15px;
            line-height: 25px;
           font-weight: 200;
            
          }
        }
        .support {
        
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          // box-shadow: 0px 2px 5px 2px #cecac6;
          background: #f5f4f4;
          padding: 20px ;
          margin: 20px 0 ;
         border-radius: 5px;
          h3 {
            font-size: 15px;
            font-weight: 400;
          }
          i {
            font-size: 24px;
            color: #a09f9e;
          }
        }
      }
    }

  }


  // <!-- <!=======-- messeger footer part design start -=======-> -->


#messenger-fotter {
 width: 80%;
 height: auto;
 display: flex;
 align-items: center;

//  gap: 1rem;
//  margin-top: 100px;
margin: auto;
padding-top: 60px  ;
    .container-header {
     width: 32%;
     height: 480px;
     right: 50px;
     margin: auto;
      .emoje {
        display: flex;
        align-items: center;

        h1 {
          font-size: 26px;
          line-height: 45px;
          margin-top: 20px;
          img {
            width: 40px;
            height: 30px;
          }
        }
      }
      p {
        font-size: 15px;
        font-weight: 300;
        padding: 25px 0;
        line-height: 32px;
      }
      .fotter-header {
        display: flex;
      align-items: center;
      justify-content: space-between;

      .icon {
        
        .fast-part {
          display: flex;
          gap: 0.5rem;
          padding: 8px 0;
        }
      }
      }
   .fotter-end {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    h5 {
      margin: 30px 0 ;
      color: #0791ee;
      font-size: 17px;
      font-weight: 500;
    }
    font-size: 22px;
    color: #0791ee;
   
   }
    }

    .fotter-img {
   
//         //  left: 100px;
// top: 0;
// // right: 150px;
// bottom: 0;
   margin: auto;

      img {
    width: 500px;
    height: 550px;
    margin: auto;
   

      }
    }
  
}


  // <!-- <!=======-- messeger footer part design end -=======-> -->




  // <!--============ service center part design start============== -->


#service-header {
 width: 100%;
 height: auto;
  background: #32314e;
  margin: auto;

.service-header {
  width: 70%;
  height: auto;
  margin: auto;
  padding: 80px 0;

    .icon {
      border-bottom: 2px solid #757575;
      padding: 10px 0;
  
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
          .random {
            color: #d78d16;
          }
          i {
            font-size: 34px;
            color: #969393;
          }
        }
      }
   
    }
    
    .contant {
      margin: 10px 0;
       ul {
         display: flex;
         align-items: center;
         justify-content: space-around;

         li {
          .con {
            color: #d78d16;
           
           }
          span {
            font-size: 18px;
            color: #e7e4e4;
        
          }
         }
       }
     }
 
   
    }

    .servies-fotter {
    display: flex;
    width: 100%;
    height: 660px;
   
      .servies-contant {
        margin-top: 50px;
        width: 50%;
        height: 500px;
        margin: auto;
        h1 {
          display: flex;
          align-items: center;
          width: 60%;
          font-size: 36px;
          margin-left: 240px;
          color: #f5f4f4;
          font-weight: 600;
          line-height: 55px;
        }
        span {
          display: flex;
          align-items: center;
          width: 50%;
          font-size: 18px;
          margin-left: 240px;
          color: #c9c8c8;
          font-weight: 300;
          padding: 40px 0;
          line-height: 30px;
        }
        button {
          padding: 16px ;
          background: #ffc935;
          border-radius: 5px;
          margin-left: 240px;
          font-size: 18px;
          color: #ffffff;
        }

      }
      .servies-img {
        width: 50%;
        height: auto;
        margin: auto;
      img {
        border-radius: 10px;
        width: 680px;
        height: 665px;
      }
       
      }
    }
 
}

  // <!--============ service center part design end============== -->


  // ====== project passentice design part start=============---->

  #project-muddle {
    background: #fffefc;
  width: 100%;
  height: auto;
 margin: 60px;
    .muddle-header {
      width: 30%;
      height: auto;
      margin: auto;
      
      h1 {
         font-size: 30px;
      }
      h5 {
     margin-left: 60px;
     font-size: 18px;
     color: #6a6968;
     font-weight: 400;
     padding: 10px;
      }
      .botton {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding-top: 50px;
        span {
          color: #000000;
          font-weight: 600;
          font-size: 18px;
        }
        p {
          color: #000000;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }

    .muddle-futter {
      width: 70%;
      height: auto;
      margin: 0 auto;
     display: flex;
      // margin: 70px;
      padding: 50px 0;
      .first-muddle {
        padding: 30px;
        background: #ffffff;
        box-shadow: 0.05px 2px 4px 2px #969393;
        width: 40%;
        height: 780px;
        margin: auto;
        h2 {
         margin-bottom: 5px;
         font-size: 26px;
         font-weight: bold;
        }
        h3 {
          margin-bottom: 30px;
          color: #ff9d00;
          font-size: 24px;
          font-weight: bold;
        }
      span {
          font-size: 16px;
          color: #6e6c69;
          line-height: 30px;
        }
        .icon-1 {
         
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 20px;
          img {
         
           width: 20px;
           height: 19.999px;
          }
          p {
            line-height: 30px;
            
          }
        }
        .icon-2 {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 20px;
          img {   
           width: 20px;
           height: 19.999px;
          }
          p {
            color: #7c7c7c;
            line-height: 30px;
           
          }
        }
        
        button {
          padding: 20px 25px;
          background: #fff3de;
          border: none;
          border-radius: 5px;
          color: rgb(255, 175, 71);
         font-weight: 900;
         font-size: 18px;

        }
      }

      .seceand-muddle {
        padding: 34px 30px;
        background: #ffffff;
        box-shadow: 0.05px 2px 4px 2px #969393;
        width: 40%;
        height: 800px;
        margin: auto;
        h2 {
         margin-bottom: 6px;
         font-size: 26px;
         font-weight: bold;
        }
        h3 {
          margin-bottom: 32px;
          color: #ff9d00;
          font-size: 24px;
          font-weight: bold;
        }
      span {
          font-size: 16px;
          color: #6e6c69;
          line-height: 30px;
        }
        .icon-1 {
         
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 20px;
          img {
         
           width: 20px;
           height: 19.999px;
          }
          p {
            line-height: 30px;
            
          }
        }
        .icon-2 {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 22px;
          img {   
           width: 20px;
           height: 19.999px;
          }
          p {
            color: #7c7c7c;
            line-height: 30px;
           
          }
        }
        
        button {
          padding: 20px 25px;
          background: #ffa200;
          border: none;
          border-radius: 5px;
          color: rgb(255, 255, 255);
         font-weight: 700;
         font-size: 18px;

        }
      }
    }

  }


  // =========project passentice design part end============----->


  // <!-- ====================project pepole part design start ==================-->

  #section-contant {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

#section-people {
  width: 100%;
  height: 100%;
  background: #fff7e3;
  padding-bottom: 70px ;

  .people-header {
   text-align: center;
   padding: 50px 0;
  h1 {
    font-size: 28px;
  }
  h6 {
    color: #555555;
    font-size: 16px;
    margin: 5px 0;
    font-weight: 600;
  }
  }

  .first-people-footer {
    
    width: 100%;
    // height: auto;
    display: flex;
    gap: 1rem;
    // align-items: center;

    .first-people {
      background: #ffffff;
      padding: 20px;
      height: 150px;
      border-radius: 10px;
      margin-left: -70px;
    }
    .secend-people {
      background: #ffffff;
      padding: 20px;
      height: 190px;
      width: 1200px;
      border-radius: 10px;
      display: inline;
      .first-contact {
        display: flex;
        gap: 0.5rem;
        margin-top: 10px;
        h5 {
          color: #26a3f6;
        }
      }
    }
    .third-people {
      background: #ffffff;
      padding: 20px;
      height: 270px;
     width: 1200px;
     margin: auto;
     border-radius: 10px;
     .first-contact {
      display: flex;
      gap: 0.5rem;
      margin-top: 10px;
      h5 {
        color: #26a3f6;
      }
    }
    }
    .four-people {
      background: #ffffff;
      padding: 20px;
      height: 150px;
     width: 900px;
    //  margin: auto;
     border-radius: 10px;
     .first-contact {
      display: flex;
      gap: 0.5rem;
      margin-top: 10px;
      h5 {
        color: #26a3f6;
      }
    }
    }
    .five-people {
      background: #ffffff;
      padding: 20px;
      height: 210px;
     width: 900px;
     margin-right: -50px;
     border-radius: 10px;
     .first-contact {
      display: flex;
      gap: 0.5rem;
      margin-top: 10px;
      h5 {
        color: #26a3f6;
      }
    }
    }
  
  }

  .seceand-people-footer {
  margin-top: 10px;
  
    width: 100%;
    display: flex;
    gap: 1rem;

    .first-people {
      background: #ffffff;
      padding: 20px;
      height: 150px;
      border-radius: 10px;
      margin-left: -230px;
    }
    .secend-people {
      background: #ffffff;
      padding: 20px;
      height: 190px;
      width: 1200px;
      border-radius: 10px;
      display: inline;
      margin-bottom: 50px;
      .first-contact {
        display: flex;
        gap: 0.5rem;
        margin-top: 10px;
        h5 {
          color: #26a3f6;
        }
      }
    }
    .third-people {
      background: #ffffff;
      padding: 20px;
      height: 200px;
     width: 1200px;
    //  margin-top: 10px;
     border-radius: 10px;
     
     .first-contact {
      display: flex;
      gap: 0.5rem;
      margin-top: 10px;
      h5 {
        color: #26a3f6;
      }
    }
    }
    .four-people {
      background: #ffffff;
      padding: 20px;
      height: 320px;
     width: 900px;
    // margin: auto;
     border-radius: 10px;
     .first-contact {
      display: flex;
      gap: 0.5rem;
    
      h5 {
        color: #26a3f6;
      }
    }
    }
    .five-people {
      background: #ffffff;
      padding: 20px;
      height: 210px;
     width: 900px;
     margin-right: -50px;
     border-radius: 10px;
     .first-contact {
      display: flex;
      gap: 0.5rem;
      margin-top: 10px;
      h5 {
        color: #26a3f6;
      }
    }
    }
  
  }
}

  // <!-- ====================project pepole part design start ==================-->


  // <!-- ==================== project footer part design start===================== -->\

#section-footer {
  width: 100%;
  height: auto;
  padding: 140px 0;
  background: #32314e;

  h1 {
    text-align: center;
    color: #fcfcfc;
    font-size: 32px;
    font-weight: 500;
  }
  p {
    text-align: center;
    padding: 20px;
    color: #a8a5a1;
    font-size: 16px;
  }
  .duble-botton {
    width: 70%;
    // height: auto;
   margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    .botton-one {
      text-align: center;
      padding: 10px;
    //  background: #757575;
     
     input {
      padding: 20px 60px ;
      text-align: start;
      background: #5a5a5a;
      border-radius: 5px;
      text-transform: capitalize;
      color: #ffffff;
      font-size: 18px;
     &::placeholder {
     margin-right: -20px;
    font-size: 18px;
    color: #fafafa;
     }
     }
    
    
    }
    .botton-two {
      button {
        padding: 18px;
        font-size: 18px;
        background: #fabf1d;
       font-weight: 600;
       border-radius: 5px;
      }
    }
  }

}
  
  // <!-- ==================== project footer part design end===================== -->

  //<--================== fotter part design start==========================---> 

#footer-part {
  width: 100%;
  height: 70px;
  background: #4c4c4e;

 .header-part {
  
  padding: 20px 0;
  width: 70%;
  margin: auto;
    display: flex;
   align-items: center;
   justify-content: space-between;

   .brandlogo {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      color: #ffffff;
      font-size: 18px;
    }
   }

   #navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    li {
      a {
        font-size: 18px;
        color: #ffff;
      }
    }
   }

  }
}

  //<--================== fotter part design end==========================---> 